<form [formGroup]="userLogin" (ngSubmit)="login()">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" formControlName="email">
    </div>
    <div class="alert alert-danger" role="alert"
        *ngIf="userLogin.get('email').invalid && userLogin.get('email').touched">
        Invalid email!
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" formControlName="password">
    </div>
    <div class="alert alert-danger" role="alert"
        *ngIf="userLogin.get('password').invalid && userLogin.get('password').touched">
        Password incorrect!!
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" formControlName="checkbox">
        <label class="form-check-label">I'm not a robot</label>
    </div>
    <div class="alert alert-danger" role="alert"
        *ngIf="userLogin.hasError('isRobot', ['checkbox'])">
        Are you a robot?
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<pre>
    {{userLogin.value | json}}
</pre>